body{
    font-family: Arial,;
}
h1{
    color: aqua;
}
h2{
    color: aquamarine;
}
p{
    color: brown;
}
.one{
    color:whitesmoke;
    border:2px black;
}

.bordered{
border: 2px solid black;
background-color: gray;
}
.two{
     color: black;
}
.three{
    color: red;
}
.four{
    color:blue;
}
.five{
    border: 1px solid black;
    background-color: wheat;
    padding: 10px;
}


