body{
    padding: 20px;

}
h1,h2,h3,a{
    font-weight: normal;
    color: #0088DD;
    margin: 0PX;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 250%;
    text-shadow: 2px 2px 3px #666666;
    padding-bottom: 10px;
}
h2{
    font-size: 150%;
}
h3{
    
        font-family: "Gill Sans", Arial, sans-serif;
        font-size: 90%;
        text-transform: uppercase;
        letter-spacing: 0.2em;
}
.one{
    font-family: Arial, Verdana, sans-serif;
 line-height: 1.4em;
 color: #665544;
 font-weight: bold;
}
.three{
    font-style: italic;
 text-align: right;
}