body {
    margin: 0%;
}

.one {
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 45%;
    text-align: center;
    padding: 1%;
    line-height: 70px;
    margin: 2px;
    color: white ;
}

.two {
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 98%;
    text-align: center;
    padding: 1%;
    line-height: 70px;
    color: white;

}

.three {
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 30%;
    text-align: center;
    padding: 1%;
    margin: 2px;
    line-height: 70px;
    color: white;
}

.four {
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 20%;
    text-align: center;
    padding: 1%;
    margin: 2px;
    line-height: 70px;
    color: white;
}

.five {
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 12%;
    text-align: center;
    padding: 1%;
    margin: 2px;
    line-height: 70px;
    color: white;
}
.six{
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 25%;
    text-align: center;
    padding: 1%;
    margin: 2px;
    line-height: 70px;
    color: white;

}
.seven{
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 65%;
    text-align: center;
    padding: 1%;
    margin: 2px;
    line-height: 70px;
    color: white;

}
.eight{
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 20%;
    text-align: center;
    padding: 1%;
    margin: 2px;
    line-height: 70px;
    color: white;
}
.nine{
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 70%;
    text-align: center;
    padding: 1%;
    margin: 2px;
    line-height: 70px;
    color: white;
}
.ten{
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 38%;
    text-align: center;
    padding: 1%;
    margin: 2px;
    line-height: 70px;
    color: white;
}
.eleven{
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 25%;
    text-align: center;
    padding: 1%;
    margin: 2px;
    line-height: 70px;
    color: white;
}
.twelve{
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 25%;
    text-align: center;
    padding: 1%;
    margin: 2px;
    line-height: 70px;
    color: white;
}
.thirteen{
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 28%;
    text-align: center;
    padding: 1%;
    margin: 2px;
    line-height: 70px;
    color: white;

}
.fourteen{
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 28%;
    text-align: center;
    padding: 1%;
    margin: 2px;
    line-height: 70px;
    color: white;
}
.fifteen{
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 15%;
    text-align: center;
    padding: 1%;
    margin: 2px;
    line-height: 70px;
    color: white;
}
.sixteen{
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 15%;
    text-align: center;
    padding: 1%;
    margin: 2px;
    line-height: 70px;
    color: white;
}
.seventeen{
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 97%;
    text-align: center;
    padding: 1%;
    line-height: 70px;
    margin: 2px;
    color: white;
}
.eighteen{
    float: left;
    background-color: rgb(240, 89, 114);
    height: 20px;
    width: 97%;
    text-align: center;
    padding: 1%;
    line-height: 30px;
    margin: 2px;
    color: white;
}
.ninteen{
    float: left;
    background-color: rgb(240, 89, 114);
    height: 100px;
    width: 97%;
    text-align: center;
    padding: 2%;
    line-height: 100px;
    margin: 2px;
    color: white;
}
.twenty{
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 30%;
    text-align: center;
    padding: 1%;
    margin: 2px;
    line-height: 70px;
    color: white;
}
.twenty1{
    float: left;
    background-color: rgb(240, 89, 114);
    height: 20px;
    width: 97%;
    text-align: center;
    padding: 1%;
    line-height: 30px;
    margin: 2px;
    color: white;
}
.twenty2{
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 25%;
    text-align: center;
    padding: 1%;
    line-height: 70px;
    margin: 2px;
    color: white;
}
.twenty3{
    float: left;
    background-color: rgb(240, 89, 114);
    height: 90px;
    width: 15%;
    text-align: center;
    padding: 1%;
    line-height: 70px;
    margin: 2px;
    color: white;
}
