* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
.nav{
 display: flex;
 position:fixed;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color:rgba(255, 255, 255, 0.5);
width: 1350px;}
.div{
    display: flex;
    align-items: center;}
.img{
    width: 40px;
    margin-right: 0px;}
.span{
    color: #25d366;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;}
.ul{
    display: flex;
    list-style: none;}
.li{
    margin:0px 15px;
}
.a{
    text-decoration: none;
    color: #333;}
.animated {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #333;
    padding-bottom: 5px; }
.animated::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color:#25d366;
    transition: width 0.5s ease-in-out;}
.animated:hover::after {
    width: 100%;}
.download-btn {
    background-color:#25d366;
    color: black;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 150px;
    height: 45px;
border: 1px solid black;}
.download-btn:hover {
    background-color: black;
    color: white;}
 .img1{
    margin-top:100px;
    width: 95%;
    height: 100%;
    margin-left: 35px;
   border-radius: 20px; 
 }
 .img2{
    position: absolute; 
    top: 26%; 
    left: 57%; 
 }
 .img3{
    position:absolute;
    top:29% ;
    left: 57%;
    border-radius: 50%;
 }
 .img4{
    position:absolute;
    top:31% ;
    left: 57%;
 }
 .img5{
    position:absolute;
    top:50% ;
    left: 57%;
 }
 .img6{
    position:absolute;
    top:59.5% ;
    left: 57%;
 }
 .img7{
    position:absolute;
    top:93% ;
    left: 57%;
 }
 .img8{
    position:absolute;
    top:100% ;
    left: 57%;
 }
 .h1{
    position: absolute;
    top: 40%; 
    left: 13%; 
    font-size: 450%;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 410;}
    .text{
        position: absolute;
    top: 67%; 
    left: 13%; 
    color: white;
        font-family:Arial, Helvetica, sans-serif;}
        